*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --sfs:2em;
    --dyellow: #FFC509;
    --dorange: #FE9611;
    --ddarkblue: #1A70BB;
    --dblue:#2190E9;
    --hf: 'Playfair Display', serif;
    --pf:'Roboto', sans-serif;
    --cf:'Pangolin', cursive;
}
.wrapper_button{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}
.wrapper_button__button{
    padding: 5px;
    border: 2px solid black;
    font-size: 20px;
    border-radius: 4px;
    background-color: var(--ddarkblue);
    color: white;
    cursor: pointer;
    outline: none;
}
.your_question{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position:fixed;
    left:0;
    right:0;
    top:120px;
    bottom:0;
    background-color: var(--ddarkblue);
    z-index: 9999;
    width: 400px;
    height: 300px;
    margin:0 auto;
    display: none;
}

.cross{
    display: flex;
    justify-content: flex-end;
    width: 120%;
}
.cross i {
    cursor:pointer;
    color:var(--dorange);
    font-size: 25px;
}
.your_question__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 7px;

   
}
.your_question__content h3{
    color: white;
    text-align: center;
    font-family: var(--hf);
    font-size: var(--sfs);
}
.your_question__content form{
    padding-top: 20px;
    width: 230px;
    display: flex;
    flex-direction: column;
}
.your_question__content label{
    color:white;
    font-family: var(--cf);
    font-size: calc(var(--sfs)/1.4);
    text-align: center;
}
.your_question__content input{
    font-size: 15px;
    border-radius: 3px;
    outline: none;
    margin-bottom: 10px;
    padding: 7px;
}
.your_question__content input[type="sumbit"]{
    text-align: center;
    align-self: flex-end;
    width: 90px;
    font-size: 12px;
    cursor:pointer;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
    justify-content: space-around;
}
.header__h1{
    font-family: var(--hf);
    font-size: calc(var(--sfs) * 1.5);
    color: var(--ddarkblue);
}
.header__h5{
    font-family: var(--pf);  
    font-size: var(--sfs);
    font-weight: normal;
    color: var(--dorange);
}
.main_logo{
    display: flex;
    justify-content: center;
}
.main_logo img{
    width:15%;
    height: 15%;
    /* animation: pulse 1s infinite; */
    transition: box-shadow 2s;
}

.main_logo img:hover{
    animation: rotate 1s linear 1 reverse;
    box-shadow: 2px 4px 3px black;
}

@keyframes pulse{
    0% {opacity: 0;}
    100% {opacity: 0.8;}
}
@keyframes hulk{
    0% {transform: scale(1,1);}
    100% {transform: scale(2,2);}
}
@keyframes rotate{
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}
@keyframes rubber{
    0% {transform: skew(0deg, 0deg);}
    100% {transform: skew(30deg, 10deg);}
}

.main_cards{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: calc(var(--sfs) * 2);
    margin-top: var(--sfs);
}



.card{
    display: flex;
    width: 50%;
    border: 3px dotted black;
    font-size: calc(var(--sfs)  / 1.5);
    font-family: var(--cf);
    line-height: 1.4;
    letter-spacing: 0.5;
    padding: 15px;
}
.card__icon{
    min-width: 50px;
    height: 50px;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 30px;
}
.card__eye{
    background-image: url('img/007-eye.png');
}
.card__deadline{
    background-image: url('img/003-deadline.png');
}
.card__search{
    background-image: url('img/009-search.png');
}
.card__idea{
    background-image: url('img/037-idea-1.png');
}
.card__design{
    background-image: url('img/035-graphic-design.png');
}
.card__support{
    background-image: url('img/025-chatting.png');
    animation-delay: 5.5s
}

.faq_wrapper{
    margin: 0 auto;
    width: 80%;
    border: 2px solid black;
    padding-top:5px;
    margin-bottom: var(--sfs);
}
.faq_quest{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--sfs);
    font-family: var(--hf);
    border-bottom: 2px solid black;
    width:100%;
    padding: 3px 0;
}
.faq_toggle{
    background-color: var(--ddarkblue);
    cursor: pointer;
    padding: 10px 0;

}
.faq_toggle i{
    color: var(--dorange);
    font-size:calc(var(--sfs)/1.2);
    padding-left:calc(var(--sfs)/1.5);
}
.faq_answer{
    font-size:calc(var(--sfs)/1.2);
    font-family: var(--hf);
    padding: 10px 5px;
    display: none;
    text-align: center;
    justify-content: center;
}

.calc{
    background-color: var(--ddarkblue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--sfs);
    margin: var(--sfs) 0;
}
.calc input{
    width: 300px;
    font-size: calc(var(--sfs)/1.5);
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 5px;
}
.wrapper__calc{
    display: flex;
    flex-direction: column;
}

.calc__button{
    font-size: 15px;
    border-radius: 3px;
    outline: none;
    margin-bottom: 10px;
    padding: 7px;
    font-family: var(--pf);
    align-self: flex-end;
    cursor:pointer;
}



.wrapper_form{
    display: flex;
    justify-content: center;
    background-color: var(--dorange);
    padding: 20px;
}
.wrapper_form form{
    display: flex;
    flex-direction: column;
    width: 250px;   
    
}
.wrapper_form legend{
    font-family: var(--hf);
}
.wrapper_form input{
    font-size: 15px;
    border-radius: 3px;
    outline: none;
    margin-bottom: 10px;
    padding: 7px;
    font-family: var(--pf);
}
.wrapper_form input[type="submit"]{
    width: 120px;
    align-self: flex-end;
    cursor:pointer;
    margin-top: 8px;
}

.wrapper_form input[type="checkbox"]{
    width: 20px;
    height: 20px;
    padding: 3px;
    
}



.wrapper_form__legend{
    color: var(--ddarkblue);
    font-size: calc(var(--sfs)/1.2);
    text-align: center;
}

 /* анимации */

.spec_flex{
    display: flex;
}
.arrow_rotate{
    transform: rotate(180deg);
    padding-right:calc(var(--sfs)/1.5);
}
.arrow_rotate1{
    transform: rotate(0deg);
    padding-right:calc(var(--sfs)/1.5);
}
